<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CenterSpace.NMath" version="6.2.0.43" targetFramework="net46" />
  <package id="CenterSpace.NMath.Charting.Microsoft" version="6.2.0.43" targetFramework="net46" />
  <package id="CenterSpace.NMath.Premium" version="6.2.0.43" targetFramework="net46" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net46" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net46" />
  <package id="Microsoft.Solver.Foundation" version="3.1.0" targetFramework="net46" />
</packages>